[submodule "source/utils"]
	path = source/utils
	url = https://github.com/HelloOO7/navitia-utils
[submodule "source/third_party/osmpbfreader"]
	path = source/third_party/osmpbfreader
	url = https://github.com/hove-io/libosmpbfreader
[submodule "source/third_party/SimpleAmqpClient"]
	path = source/third_party/SimpleAmqpClient
	url = https://github.com/hove-io/SimpleAmqpClient
[submodule "source/third_party/librabbitmq-c"]
	path = source/third_party/librabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c
[submodule "source/chaos-proto"]
	path = source/chaos-proto
	url = https://github.com/hove-io/chaos-proto
[submodule "source/navitia-proto"]
	path = source/navitia-proto
	url = https://github.com/hove-io/navitia-proto
[submodule "source/third_party/prometheus-cpp"]
	path = source/third_party/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp
[submodule "source/third_party/flann"]
	path = source/third_party/flann
	url = https://github.com/flann-lib/flann
